{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:import/recommended",
    "prettier",
    "prettier/babel",
    "prettier/standard"
  ],
  "plugins": [
    "babel"
  ],
  "settings": {}
}